/* Colors */
:root {
  /* Primary */
  --color-nutmeg: hsl(14, 45%, 36%);
  --color-dark-raspberry: hsl(332, 51%, 32%);

  /* Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-rose-white: hsl(330, 100%, 98%);
  --color-eggshell: hsl(30, 54%, 90%);
  --color-light-grey: hsl(30, 18%, 87%);
  --color-wenge-brown: hsl(30, 10%, 34%);
  --color-dark-charcoal: hsl(24, 5%, 18%);
}

/* Fonts */
@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
}

/* TODO: remove */
body {
  background-color: #bbbbbb;
}

/* Mobile first */
#main-container {
  background-color: var(--color-white);
  width: 375px;
  padding: 32px;
  box-sizing: border-box;
}

#hero-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: auto;
}

#title {
  margin-top: 179px;
  font-family: "Young Serif";
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 0.03rem;
  line-height: 2.25rem;
  color: var(--color-dark-charcoal);
}

#description {
  margin-top: 25px;
  font-family: "Outfit";
  font-weight: 400;
  font-size: 0.97rem;
  letter-spacing: 0.012rem;
  line-height: 1.5rem;
  color: var(--color-wenge-brown);
}

#info-container {
  background-color: var(--color-rose-white);
  margin-top: 30px;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 24px;
  padding-right: 24px;
}

#info-title {
  font-family: "Outfit";
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.025rem;
  color: var(--color-dark-raspberry);
}

/* Desktop responsive */
