#design-preview-icons-container {
  position: absolute;
  overflow-x: hidden;
  top: 50vh;
  right: 0px;
  width: 10px;
  height: 100px;
  z-index: +11;
  background-color: #2f3748;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#design-preview-icons-container:hover {
  width: 40px;
  border-radius: 10px 0px 0px 10px;
  transition: 0.3s;
}

.design-preview-icon {
  width: 30px;
  height: 30px;
  margin: auto;
}

[data-preview-icon-enable="true"] {
  opacity: 1;
}

[data-preview-icon-enable="false"] {
  opacity: 0.5;
}

#design-preview-designs-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: +10;
  overflow-x: hidden;
}

.design-preview-design {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  opacity: 0.5;
}

[data-preview-design-enable="true"] {
  display: block;
}

[data-preview-design-enable="false"] {
  display: none;
}
